/* Empty Elements */
div:empty, span:empty, li:empty, p:empty, td:empty, th:empty {
    padding: 20px;
    border: 5px dotted yellow !important;
}

/* Empty Attributes */
*[title=""], *[class=""], *[id=""], a[href=""], a[href="#"], table[summary=""]  {
    border: 5px solid yellow !important;
}

/* Deprecated Elements */
applet, basefont, center, dir, font, isindex, menu, s, strike, u {
    border: 5px dotted red !important;
}

/* Deprecated Attributes */
*[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start], *[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink], *[align], *[valign], *[hspace], *[vspace], *[height], *[width], ul[type], ol[type], li[type] {
    border: 5px solid red !important;
}

/* Proposed Deprecated Elements */
input[type="button"], big, tt {
    border: 5px dotted #33FF00 !important;
}

/* Proposed Deprecated Attributes */
*[border], a[target], table[cellpadding], table[cellspacing], *[name] {
    border: 5px solid #33FF00 !important;
}

/* Images without alt attribute */
img:not([alt]) {border: 5px solid red;}

/* Legends */
fieldset > :not(legend):first-child,	/* no other element than a legend can be first child of a fieldset element */
fieldset > legend:not(:first-child) {	/* and a legend can't be anyrhing else than first child of a fieldset element */
	outline: 5px dashed red !important;
}
/* so this is the only correct case: */
fieldset > legend:first-child {
	outline: 3px solid green !important;
}

/* If used, dir attribute only accepts 2 possible values */
[dir]:not([dir="rtl"]):not([dir="ltr"]) {
	background-color: hotpink !important;
}
[dir="rtl"]:before,
[dir="ltr"]:before {
	content: "dir: " attr(dir);
	display: block;
	color: darkgreen !important;
	background-color: lightyellow !important;
}
