applet:after, basefont:after, center:after, dir:after, font:after, isindex:after, menu:after, s:after, strike:after, u:after, 
*[background]:after, *[bgcolor]:after, *[clear]:after, *[color]:after, *[compact]:after, *[noshade]:after, *[nowrap]:after, *[size]:after, 
*[start]:after, *[bottommargin]:after, *[leftmargin]:after, *[rightmargin]:after, *[topmargin]:after, *[marginheight]:after, *[marginwidth]:after, 
*[alink]:after, *[link]:after, *[text]:after, *[vlink]:after, *[align]:after, *[valign]:after, *[hspace]:after, *[vspace]:after, *[height]:after, 
*[width]:after, ul[type]:after, ol[type]:after, li[type]:after, iframe:not([title]):after, img[ismap]:after, img:not([alt]):after, 
div[role="img"]:not([aria-label]):after, img:not([src]):after,img[src=""]:after, img[src="#"]:after, a[href=""]:after, a[href="#"]:after, 
a:not([href]):after, a[href*=javascript\:]:after, a[onclick]:after, fieldset > :not(legend):first-child:after, fieldset > legend:not(:first-child):after, 
input[type="image"][alt=""]:after, input[type="image"]:not([alt]):after, label:not([for]):after, [dir]:not([dir="rtl"]):not([dir="ltr"]):after, 
meta[http-equiv=refresh]:after, html:not([lang]):after, *[accesskey]:after, th:empty:after, table > tr:only-child:after, table > tbody > tr:only-child:after,  
table[align]:after, table[bgcolor]:after, table[border]:after, table[cellpadding]:after,table[cellspacing]:after,table[width]:after, td[width]:after,
td[valign]:after, title:empty:after, ol > *:not(li):after, ul > *:not(li):after, dl > *:not(dt):not(dd):after, dt + *:not(dd):after,
*:empty:not(script):not(input):not(br):not(img):not(link):not(hr):not(embed):not(area):not(command):not(col):not(param):not(source):not(track):not(wbr):not(base):not(keygen):after
{
   display: inline-block !important;
   background: #dc143c !important;
   padding: 0.25em !important;
   font-family: 'comic sans ms', cursive !important;
   color: #fff !important;
   font-size: 14px !important;
   text-shadow: none !important;
   font-weight: normal !important;
   font-style: normal !important;
}

/* Empty content */
*:empty:not(script):not(input):not(br):not(img):not(link):not(hr):not(embed):not(area):not(command):not(col):not(param):not(source):not(track):not(wbr):not(base):not(keygen):after {
    content: 'ERROR: Avoid empty elements' !important;
}


/* Deprecated Elements - cannot be overridden by user styles */
applet, basefont, center, dir, font, isindex, menu, s, strike, u {
    content: 'ERROR: Deprecated elements found. They cannot be overridden by user styles' !important;
}

/* Deprecated Attributes - cannot be overridden by user styles */
*[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start], *[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink], *[align], *[valign], *[hspace], *[vspace], *[height], *[width], ul[type], ol[type], li[type] {
    content: 'ERROR: Deprecated attributes found. They cannot be overridden by user styles' !important;
}

/* Inline frames without title attribute */
iframe:not([title]){
    content: 'ERROR: iframe has no title. ' !important;
}


/**
 *     Image-related checks
 */

/* server-side image map. Yes these are sometimes still seen, if rarely */
img[ismap]{
    content: 'ERROR: Replace server-side image map' !important;
}

/* Images without alt attribute */
img:not([alt]) {
    content: 'ERROR: All images must have alt attributes' !important;
}

/* something that has a role of image but no alternative */
div[role="img"]:not([aria-label]){
    content: 'ERROR: Item has image role without an alternative' !important;
}

/* images without a source */
img:not([src]),
img[src=""],
img[src="#"]{
    content: 'ERROR: image has no source' !important;
}

/**
 *     Link-related checks
 */

/* Bad links, possibly relying on javascript to do something */
a[href=""], a[href="#"], a:not([href]), a[href*=javascript\:], a[onclick]{
    content: 'ERROR: links must have a valid hypertext reference' !important;
}



/** 
 *     form-related checks
 */

/*
	Legends
*/
fieldset > :not(legend):first-child,	/* no other element than a legend can be first child of a fieldset element */
fieldset > legend:not(:first-child) {	/* and a legend can't be anything else than first child of a fieldset element */
    content: 'ERROR: fieldsets must have legends' !important;
}



/*
	Input[type="image"] and their alt attribute
	Note: adding :before or :after on this type of element won't work as expected. Maybe background-image encoded in base64?
	@reference Technique for WCAG 2.0 H36: Using alt attributes on images used as submit buttons - http://www.w3.org/TR/WCAG-TECHS/H36.html
	@reference Technique for WCAG 2.0 F65: Failure (...) due to omitting the alt attribute on (...) input elements of type "image" - http://www.w3.org/TR/WCAG-TECHS/F65.html
*/
input[type="image"][alt=""],
input[type="image"]:not([alt]) {
    content: 'ERROR: Image input requires alt attribute' !important;
}


/* Missing 'for' attribute on a label */
label:not([for]){
    content: 'ERROR: label not explicitly matched with field' !important;
}


/*
	dir attribute
*/
/* If used, dir attribute only accepts 2 possible values */
[dir]:not([dir="rtl"]):not([dir="ltr"]) {
    content: 'ERROR: dir attribute has invalid value' !important;	
}

/* empty? */
title:empty:after {
	content: 'ERROR: title element is empty' !important;
}


/*
	Meta refresh?
	@source CSS selector from Opquast Checklist Accessibility First step https://checklists.opquast.com/en/accessibilityfirststep/
	@reference Technique for WCAG 2.0 F40: Failure (...) due to using meta redirect with a time limit - http://www.w3.org/TR/WCAG-TECHS/F40.html
*/
meta[http-equiv=refresh] {
    content: 'ERROR: Replace meta refresh' !important;
}


/*
	Lang attribute on html element
	@reference Technique for WCAG 2.0 H57: Using language attributes on the html element  - http://www.w3.org/TR/WCAG-TECHS/F40.html
*/

html:not([lang]){
	content: 'ERROR: HTML element requires lang attribute' !important;
}



/* Accesskey is a bad idea. 
 * @reference Old discussion but still hits on salient points http://www.cs.tut.fi/~jkorpela/forms/accesskey.html */
*[accesskey]{
    content: 'ERROR: Accesskey is a bad idea' !important;
}


/**
 *     TABLE RELATED CHECKS
 */

/* Empty Header Cells */
th:empty {
    content: 'ERROR: replace empty TH element with TD' !important;
}

/* only one TR in the table. Is that a layout table? */ 
table > tr:only-child, 
table > tbody > tr:only-child {
    content: 'ERROR:  only one TR in this table. Is this a layout table?' !important;
}

/* Deprecated attributes on table */
table[align],
table[bgcolor],
table[border],
table[cellpadding],
table[cellspacing],
table[width],
td[width],
td[valign] {
    content: 'ERROR: Deprecated markup in table' !important;
}


/**
 *     List-related issues
 */


ol > *:not(li):after,
ul > *:not(li):after {
    content: 'ERROR: List markup invalid' !important;
}

dl > *:not(dt):not(dd):after {
    content: 'ERROR: Definition list markup invalid' !important;
}

dt + *:not(dd):after {
    content: 'ERROR: Definition must follow term' !important;
}